# Byte-compiled / caches
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# OS
.DS_Store

# Build and env
*.egg-info/

# Run outputs
outputs/
logs/

# Notebooks
notebooks/FLI_introduction.ipynb

# VSCode settings
.vscode/

# Configs
configs/inference/submitted

# Large data artifacts
data/abacus_kappa_mask_00047.npy
